* {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 70px;
    background: rgba(255, 255, 255, 0);
    width: 100%;
    position: absolute;
}

.logo{
    font-size: 25px;
    display: inline-block;
    margin: 0 10px;
}

h1{
    text-align: center;
    font-size: 48px;
    color: white;
}

h2{
    text-align: center;
    font-size: 36px;
    color: blue;
    margin: 10px;
}

.fundo{
    background: url("../assets/Unect.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 0 0 1000px rgba(25, 91, 205, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
    margin: 10px;
}

.container{
    display: flex;
    height: 400px;
    flex-wrap: wrap;
}

.blocos{
    flex: 1;
    width: 350px;
    background: white;
    margin: 10px 50px;
    border-radius: 10px;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.16);
}

.blocos li{
    margin: 10px;
    text-align: center;
    background: rgba(25, 90, 205, 0.3);
    border-radius: 10px;
    padding: 5px 10px;
}

#input{
    margin-bottom: 20px;
    border: 2px solid rgb(25, 90, 205);
    width: 100%;
    font-size: 20px;
    padding: 5px 10px;
}

button{
    background: none;
    border: none;
    margin-bottom: 15px;
    width: auto;
}

.add{
    display: flex;
    height: 100px;
    align-items: center;
}

.items{
    margin: 15px;
}

.fa-plus-square{
    vertical-align: 10%
}

.fa-plus-square:hover{
    color: blue;
    cursor: pointer;   
}

.fas{
    margin-left: 5px;
}

li:hover{
    background: blue;
}

.fa-chevron-circle-right:hover{
    color: white;
    cursor: pointer;   
}

.fa-times-circle:hover{
    color: white;
    cursor: pointer;   
}